@media screen and (max-width: 480px) and (orientation: portrait) {
  html,
  body {
    margin: 0;
    padding: 0;
  }

  header {
    background-color: #222222;
  }

  .container {
    width: 50%;
    padding: 60px 0px;
  }

  /* MENU: NAVBAR/HEADER */

  nav {
    background-color: #222222;
  
  }

  nav ul {
    
    display: flex;
    text-align: center;
    justify-content: space-between;
    margin: 0;
    padding: 9px;
    list-style-type: none;
  }

  nav ul li {
    flex-grow: 0;
    flex-shrink: 1;
    flex-basis: 25%;
  }

  nav ul li a {
    color: #eeeeee;
    font-size: 8px;
    text-transform: uppercase;
    text-decoration: none;
    font-weight: 100;
    width: 100%;
    display: block;
  }

  /* SECTION MAIN IMAGE */

  #section-main-image {
    height: 14vh;
    padding: 14vh;
    background-image: url("https://images.unsplash.com/photo-1463797221720-6b07e6426c24?ixid=MnwxMjA 3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=2071&q=80");
    background-repeat: no-repeat;
    background-size: 145%;
  }

  #section-main-image h1 {
    font-size: 19px;
    display: flex;
    text-align: center;
    justify-content: center;
    color: rgba(255, 255, 255, 0.5);
    margin: 0;
  }
  #section-main-image h2 {
    font-size: 6px;
    color: #fff;
    text-shadow: 2px 2px 5px #000;
    display: flex;
    justify-content: center;
  }

  /* SECTION COFFEE */

  #section-coffee {
    background-color: #eeeeee;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 40px;
    font-size: 11px;
  }

  #section-coffee h2 {
    color: #000;
    margin: 40px 0px 20px 0px;
    
  }
  #section-coffe p {
    justify-content: center;
    
  }

  .product-grid {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
  }

  .product {
    padding: 0 14px;
  }

  .product img {
    
    align-items: center;
    width: 50px;
  }

  /* FOOTER CONTACT */

  #footer-contact {
    font-size: 10px;
    background-color: #58462c;
    color: #eeeeee;
    display: flex;
    justify-content: center;
  }

  #footer-contact .contact-data {
    
    display: flex;
    justify-content: space-between;
  }

  .contact-form form {
    margin-left: 50px;
    text-align: right;
  }

  .contact-form form .form-control {
    padding: 5px 0;
  }

  .contact-form form .form-control label {
    margin-right: 15px;
  }

  .contact-form form button {
    margin-top: 15px;
    color: #58462c;
    padding: 5px 5px;
  }
}
